[Unit]
Description=mastodon web service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory={{install_dir}}/live
Environment=RAILS_ENV=production
Environment=PORT=3000
Environment=SECRET_KEY_BASE={{secret_key_base}}
Environment=DB_NAME={{dbname}}
Environment=DB_USER={{dbuser}}
Environment=DB_PASS={{dbpassword}}
ExecStart=/usr/local/bin/bundle exec puma -C config/puma.rb
